@CHARSET "UTF-8";

.page-wrap {
	
}

nav {
	padding: 0 30px;
	font-weight: bold;
}

.section {
	width: 1200px;
	margin: 0 auto;
	min-height: 350px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}